@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-regular.woff2') format('woff2'),
    url('../font/SourceSansPro-regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-bold.woff2') format('woff2'),
    url('../font/SourceSansPro-bold.woff') format('woff');
    font-weight: 600;
}

body {
    margin: 0;
    min-width: 320px;

    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FBFBFB;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
    padding-top: 32px;
    padding-bottom: 100px;
}


.calorie-table {
    width: 1140px;
    margin: 0 auto;
}

.table__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    color: #282136;
}

.table__control {
    padding-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #EDEDED;
}

.sorting__title {
    margin: 0;
    margin-right: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    color: #3D374A;
}

.control__wrap {
    display: flex;
    align-items: center;
}

.sorting__list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.sorting__item {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 7px;

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: #3D374A;
    cursor: pointer;
}

.sorting__item--active {
    color: #ffffff;
    background-color: #00A11E;
    border-radius: 2px;
}


.button {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #5B5E77;
    cursor: pointer;

    border: 1px solid #D5DAE0;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
}


.button:disabled {
    background-color: transparent;
    color: #C6CBD4;
    border: 1px solid #C6CBD4;
    cursor: not-allowed;
}

.button:hover {
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
}

.button:focus {
    outline: none;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
}


.button:active {
    outline: none;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
}

.control__delete {
    padding-left: 15px;
    padding-right: 13px;
    min-height: 32px;
    margin-right: 12px;

    color: #ffffff;
    background-color: #00A11E;
    border: 1px solid #00A11E;
}

.control__show-list {
    min-width: 109px;
    min-height: 32px;
    padding-left: 12px;
}

.control__show-item {
    cursor: pointer;
}

.select-wrap {
    position: relative;
    display: inline-block;
}
.select-wrap:after {
    content: "";
    position: absolute;
    right: 12px;
    top: calc(50% - 2.25px);
    z-index: 1;
    text-align: center;
    width: 8px;
    height: 4.5px;
    pointer-events: none;
    box-sizing: border-box;

    background-image: url("../img/select-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.control__show-list {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.control__page {
    display: flex;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;
}

.page__prev {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    width: 32px;
    height: 32px;
}

.page__prev-arrow {
    width: 5px;
    height: 8px;
    fill: #333333;
}

.page__field {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    color: #3D374A;
}

.page__next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;

    width: 32px;
    height: 32px;
}

.page__next-arrow {
    width: 5px;
    height: 8px;
    fill: #333333;

    transform: scale(-1, 1);
}

.button:disabled .page__prev-arrow,
.button:disabled .page__next-arrow {
    fill: #C6CBD4;
}

.control__select {
    min-width: 158px;
    min-height: 32px;
    padding-left: 10px;

    color: #5B5E77;
}

.control__select-list {
    width: 207px;
    height: 243px;
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 31px;
    position: absolute;
    box-sizing: border-box;
    overflow: auto;
    top: 35px;
    left: 0;

    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.control__select-wrap:first-of-type .control__select-label{
    font-weight: 600;
}

.control__select-wrap {
    position: relative;
    margin-bottom: 12px;
}

.control__select-checkbox {
    display: none;
}

.control__select-label {
    display: block;
    padding-left: 27px;

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #282136;
    cursor: pointer;
}

.control__select-label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #C6CBD4;
}

.table {
    width: auto;
    box-sizing: border-box;

    border-collapse: collapse;
    border-radius: 4px;
    background-color: #ffffff;
}

.table tr {
    background: #F8F9FA;
}

.table tr:nth-child(2n) {
    background: #ffffff;
}

.table tr:first-child {
    border-bottom: 1px solid #EDEDED;
    background: #ffffff;
}

.caption-line {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #282136;
}

.table th {
    min-width: 155px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.table td {
    min-width: 155px;
    padding-top: 12px;
    padding-bottom: 13px;
}

.table th:first-child,
.table td:first-child {
    min-width: 45px;
    padding-left: 37px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    min-width: 192px;
}


.table th:last-child,
.table td:last-child {
    min-width: 155px;
    padding-right: 80px;
}

.table__product {
    position: relative;
    cursor: pointer;
    padding-left: 43px;
}

.checkbox__item {
    display: none;
}

.table__product::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;

    border: 1px solid #C6CBD4;
}

.checkbox__item:checked+.table__product:before,
.control__select-checkbox:checked+.control__select-label:before {
    background-color: #00A11E;
    background-image: url("../img/check.svg");
    background-size: 8.7px 6px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #00A11E;
}

.table-line td {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #282136;
}

.error-popup  {
    width: 300px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

}

.error__text {
    margin-top: 0;
    margin-bottom: 15px;

    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #282136;
}

.error__retry {
    height: 32px;
    min-width: 100px;
    margin-right: 15px;

    color: #ffffff;
    background-color: #00A11E;
    border: 1px solid #00A11E;
}

.error__close {
    height: 32px;
    min-width: 100px;
}

